<a class="hola-link-no-underline" href="<%- url_for('/events/' + event.slug + '.html') %>">
  <div class="hola-card">
    <h2 class="hola-card-title"><%= event.name %></h2>
    <p><%= event.slogan %> · <%= date(event.date, 'YYYY MMM D') %> @ <%= event.city %></p>
  </div>
</a>
