<header class="hola-navbar hola-navbar-transparent hola-navbar-darkbg hola-navbar-with-hero">
  <div class="hola-container">
    <nav class="hola-navbar-main">
      <a href="/" class="hola-navbar-brand">¡Hola!</a>
    </nav>
    <input type="checkbox" class="hola-navbar-toggle" id="navbar-toggle">
    <label for="navbar-toggle" class="hola-navbar-toggle-label"></label>
    <nav class="hola-navbar-sub">
      <% for (var i in theme.menu){ %>
        <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
      <% } %>
    </nav>
  </div>
</header>
<div class="hola-hero hola-hero-height-extended">
  <div class="hola-container hola-hero-content">
    <% let event = _.find(site.data.events, { slug: site.data.home.home_event }) %>
    <h1 id="logo-wrap" class="logo">
      <img class="header-logo" src="<%- url_for('static/images/holaw.svg') %>" alt="¡Hola!">
      <span><%= event.short_name %></span>
    </h1>
    <br>
    <p><%= event.slogan %></p>
    <p><%= date(event.date, 'MMM D') %> · <%= event.location %></p>
    <a href="<%- url_for('/events/' + event.slug + '.html') %>" class="hola-link-cta">了解更多</a>
    <%= event.signup_url ? `<a href="${event.signup_url}" class="hola-link-cta">立即参与</a>` : '' %>
  </div>
</div>
