<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <% if (!page){ %>
      <div class="article-meta">
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        <%- partial('post/category') %>
      </div>
    <% } %>
    <div class="article-inner">
      <%- partial('post/gallery') %>
      <% if (post.link || post.title){ %>
        <header class="article-header">
          <%- partial('post/title', {class_name: 'article-title'}) %>
        </header>
      <% } %>
      <div class="article-entry" itemprop="articleBody">
        <div class="video-player" style="margin-top: 2em;">
          <div videoplay id="videoplay-bilibili">
            <embed quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="//static.hdslb.com/miniloader.swf" flashvars="aid=<%- custom_field('pages', post.title, 'bilibili') %>&page=1" pluginspage="//www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
          </div>
          <div videoplay id="videoplay-youtube">
            <iframe src="https://www.youtube.com/embed/<%- custom_field('pages', post.title, 'youtube') %>" frameborder="0" allowfullscreen>
              <p>在某些网络环境下，您可能无法使用 YouTube 视频源。</p>
            </iframe>
          </div>
        </div>
        <div class="video-switcher">
            <h5>视频源</h5>
            <a href="#bilibili" id="videosrc-bilibili" class="videosrc">哔哩哔哩</a>
            <a href="#youtube" id="videosrc-youtube" class="videosrc">YouTube</a>
        </div>
        <p>本视频录制于 <%- custom_field('pages', post.title, 'event') %>，讲者 <%- custom_field('pages', post.title, 'speaker') %>。</p>
        <%- post.content %>
        <p>所有 ¡Hola! 活动视频均以 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">CC-BY-NC-SA 4.0</a> 协议发布。请遵守协议，转载请注明出处，请勿用于商业用途。</p>
      </div>
      <footer class="article-footer">
        <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
        <% if (post.comments && config.disqus_shortname){ %>
          <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
        <% } %>
        <%- partial('post/tag') %>
      </footer>
    </div>
    <% if (!index){ %>
      <%- partial('post/nav') %>
    <% } %>
  </article>

  <script>
    if (!location.hash) location.hash = '#bilibili'

    window._prevId = location.hash.slice(1)

    const handler = e => {
        !e || e.preventDefault()
        document.getElementById('videosrc-' + window._prevId).setAttribute('class', '')
        document.getElementById('videosrc-' + location.hash.slice(1)).setAttribute('class', 'active')
        document.getElementById('videoplay-' + window._prevId).setAttribute('class', '')
        document.getElementById('videoplay-' + location.hash.slice(1)).setAttribute('class', 'active')
        window._prevId = location.hash.slice(1)
        return false
    }

    window.addEventListener('hashchange', handler)

    handler()
  </script>
  
  <% if (!index && post.comments && config.disqus_shortname){ %>
  <section id="comments">
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </section>
  <% } %>