<%- partial('_partial/head') %>
<body class="hola-body-typography hola-grey-bg">
  <div id="container">
    <div>
      <% if (is_home()) { %>
        <%- partial('_partial/home_header', null, {cache: !config.relative_link}) %>
      <% } else { %>
        <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <% } %>
      <%- body %>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
